.pokedexgrid__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .pokedexgrid__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .pokedexgrid__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .pokedexgrid__container {
    grid-template-columns: repeat(1, 1fr);
  }
}