@import "../../_variables.scss";
@import "../../_mixins.scss";

.pokedexgrid__container {
  @include grid-properties;

  @media (max-width: $screen-large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $screen-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $screen-small) {
    grid-template-columns: repeat(1, 1fr);
  }
  
  margin-top: 50px;
}
