html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

.app {
  background-color: lightgrey;
  height: 100%;

  &__header {
    text-align: center;
  }
}

.container {
  padding: 50px 24px;
}

